body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-size: 20px 20px;
}

a {
    color: #00B7FF;
}

.photo {
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.label-title {
    display: block;
}

.upload-form {
    max-width: 400px;
}

.nav>li{
    display: inline-block;
}